.label {
    display: flex;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

.admin {
    background-color: var(--yellow-color);
    padding: .2rem 1rem;
    border-radius: .2rem;
    color: var(--white-color);
    font-weight: 600;
    margin-left: 1rem;
}

