.quizzes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media screen and (min-width: 768px) {
    .quizzes {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .quizzes {
        grid-template-columns: 1fr 1fr 1fr;
    }
}