.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: var(--primary-color);
    z-index: -1;
}

.banner {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--navbar-height));
    column-gap: 3rem;
}

.banner img {
    order: 1;
    width: 75%;
    padding-bottom: 3rem;
    justify-self: center;
}

.welcome-message {
    order: 2;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.welcome-message h1 {
    color: #FAFAFA;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.welcome-message p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #d2d2d2;
    margin-bottom: 4rem;
    display: none;
}

@media screen and (min-width: 768px) {
    .banner {
        grid-template-columns: 1fr 1.5fr;
    }
    .banner img {
        width: 100%;
        order: 2;
    }

    .welcome-message {
        order: 1;
    }

    .welcome-message h1 {
        font-size: 3.7rem;
    }

    .welcome-message p {
        display: block;
    }
}