@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import './styles/react-responsive-modal.css';
@import './styles/react-table-lite.css';
@import './styles/react-tooltip.css';
@import './styles/react-toastify.css';
@import './styles/react-tag-input.css';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #092258;
    --white-color: #FFF;
    --yellow-color: #f0b23a;
    --red-color: #e93e3e;
    --orange-color: #ed673e;
    --blue-color: #214fdb;
    --green-color: #15b515;
    --font-family: 'Poppins', sans-serif;
    --navbar-height: 9rem;
    --max-width: 120rem;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: #FAFAFA;
    overflow-x: hidden;
}

main {
    flex: 1;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 4rem;
}

#root {
    font-family: var(--font-family);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

